section.intro#intro
    .intro__bg.absolute
        img(src="app/img/intro_bg.svg" alt="Meet t®").object-fit
    .intro__content
        h1.title.title_large.intro__title Meet JackpotSpot®
        h3.intro__subtitle Your easiest way to find best casino hotel in Australia!
        +btn('#products').intro__btn.js-link Find a hotel
        +btn('#products')._white.intro__btn.js-link Learn more about us