section.product-reviews
    .product-reviews__top
        h2.title.product-reviews__title Latest reviews on this hotel
        .product-reviews__desc Honest reviews from our guests
    .product-reviews__inner.flex
        .product-reviews__item.review
            .review__top.flex.flex_vertical.flex_justify
                .review__cell.review__cell_left
                    .review__pic
                        img(src="/img/users/01-min.png" alt="Aussieheli").object-fit
                    .review__info
                        strong.review__name Jenny
                        .review__date May 2024
                .review__cell.review__cell_right
                    .review__number 5.0
            .review__content
                p Great smorgasbord meals, good value, plenty of fresh seafood and meats, very clean, we have been there a few times and will definitely go back, the casino is fun, parking is easy, you have to book ahead for the smorgasbord they have different options on different days, the weekend has a better seafood selection.
        .product-reviews__item.review
            .review__top.flex.flex_vertical.flex_justify
                .review__cell.review__cell_left
                    .review__pic
                        img(src="/img/users/01-min.png" alt="Aussieheli").object-fit
                    .review__info
                        strong.review__name Jenny
                        .review__date May 2024
                .review__cell.review__cell_right
                    .review__number 5.0
            .review__content
                p Great smorgasbord meals, good value, plenty of fresh seafood and meats, very clean, we have been there a few times and will definitely go back, the casino is fun, parking is easy, you have to book ahead for the smorgasbord they have different options on different days, the weekend has a better seafood selection.
        .product-reviews__item.review
            .review__top.flex.flex_vertical.flex_justify
                .review__cell.review__cell_left
                    .review__pic
                        img(src="/img/users/01-min.png" alt="Aussieheli").object-fit
                    .review__info
                        strong.review__name Jenny
                        .review__date May 2024
                .review__cell.review__cell_right
                    .review__number 5.0
            .review__content
                p Great smorgasbord meals, good value, plenty of fresh seafood and meats, very clean, we have been there a few times and will definitely go back, the casino is fun, parking is easy, you have to book ahead for the smorgasbord they have different options on different days, the weekend has a better seafood selection.
        .product-reviews__item.review
            .review__top.flex.flex_vertical.flex_justify
                .review__cell.review__cell_left
                    .review__pic
                        img(src="/img/users/01-min.png" alt="Aussieheli").object-fit
                    .review__info
                        strong.review__name Jenny
                        .review__date May 2024
                .review__cell.review__cell_right
                    .review__number 5.0
            .review__content
                p Great smorgasbord meals, good value, plenty of fresh seafood and meats, very clean, we have been there a few times and will definitely go back, the casino is fun, parking is easy, you have to book ahead for the smorgasbord they have different options on different days, the weekend has a better seafood selection.
    .product-reviews__bottom.flex.flex_vertical.flex_center
        +btn('#booking').product-reviews__btn.js-modal Book this hotel
        +btn('#review')._white.product-reviews__btn.js-modal Book this hotel