section.services#services
    .services__top
        h2.title.services__title Special services provided by JackpotSpot®
        .services__desc Package deals, concierge service and other services for your unique experience
    .services__items.flex
        .service-item
            .service-item__image
                img(src="app/img/service-item-1.svg" alt="Reviews and Ratings").object-fit
            h3.service-item__title Reviews and Ratings
            p.service-item__text Detailed reviews and ratings from our customers and full information about hotels
        .service-item
            .service-item__image
                img(src="app/img/service-item-2.svg" alt="Consultation and Assistance").object-fit
            h3.service-item__title Consultation and Assistance
            p.service-item__text Personalized recommendations for hotel selection and trip planning assistance
        .service-item
            .service-item__image
                img(src="app/img/service-item-3.svg" alt="Package Deals").object-fit
            h3.service-item__title Package Deals
            p.service-item__text Comprehensive packages that include accommodation, meals, and entertainment
        .service-item
            .service-item__image
                img(src="app/img/service-item-4.svg" alt="Event Organization").object-fit
            h3.service-item__title Event Organization
            p.service-item__text Assistance in organizing corporate and private events such as conferences, weddings, or parties
        .service-item
            .service-item__image
                img(src="app/img/service-item-5.svg" alt="Transfer and Transportation").object-fit
            h3.service-item__title Transfer and Transportation
            p.service-item__text We’ll help you with arrangement of airport transfers and car rentals in any Australian city
        .service-item
            .service-item__image
                img(src="app/img/service-item-6.svg" alt="Concierge Services").object-fit
            h3.service-item__title Concierge Services
            p.service-item__text Personalized services, including restaurant reservations, show tickets, and other services