extends ../layouts/base

append vars
	- title = 'Main page';

block content
	include ../modules/intro
	include ../modules/products
	include ../modules/services
	include ../modules/reviews
	include ../modules/contacts