footer.footer
    .footer__inner.flex
        .footer__cell.footer__cell_left
            .logo.footer__logo
                a(href="#").logo__link
                    img(src="app/img/logo.svg" alt="Jackpot Spot").logo__image
            .footer__text
                p The information provided on the website is not a public offer, your booking is activated only after receiving a letter from our operator.
                p JackpotSpot® is an informational resource about hotels in Australia providing casino services. Our website does not offer gambling services.
        .footer__cell.footer__cell_right
            .footer__menu
                h3.footer__title Menu
                ul.footer__list
                    li.footer__item
                        a(href="./main.html#intro").footer__link.js-link Main
                    li.footer__item
                        a(href="./main.html#products").footer__link.js-link Hotels list
                    li.footer__item
                        a(href="./main.html#services").footer__link.js-link Services
                    li.footer__item
                        a(href="./main.html#reviews").footer__link.js-link Reviews
                    li.footer__item
                        a(href="#contacts").footer__link.js-link Contacts
            .footer__menu
                h3.footer__title Legal
                ul.footer__list
                    li.footer__item
                        a(href="terms.html").footer__link Terms of Service
                    li.footer__item
                        a(href="privacy.html").footer__link Privacy Policy
                    li.footer__item
                        a(href="cookie.html").footer__link Cookie Policy
                    li.footer__item
                        a(href="#").footer__link Contacts
                    li.footer__item
                        a(href="#").footer__link Sitemap
    .footer__copyright.flex.flex_vertical.flex_justify
        p © <script>document.write(/\d{4}/.exec(Date())[0])</script> &nbsp; JackpotSpot LLC. All rights reserved.
        span 18+