.reviews {
  background-color: var(--color-bg);
  padding: 1.6rem 1.6rem 4.8rem;
  border-radius: 3.2rem;
  margin-top: -3.2rem;
  position: relative;
  z-index: 1;

  &__top {
    padding: 3rem 0;
    text-align: center;
    color: var(--color-white);
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__desc {
    opacity: 0.7;
    font-size: 2.4rem;

    @include large-tablet {
      font-size: 2rem;
    }

    @include large-mobile {
      @include line-height(16, 19);
    }
  }

  &__slider {
    margin: 0 -1.6rem;
    padding: 0 1.6rem;
  }

  .swiper-slide{
    width: fit-content;
    height: auto;
  }

  &__bottom {
    margin-top: 4.5rem;
    gap: .8rem;

    @include large-mobile {
      margin-top: 1.6rem;
      display: block;
    }
  }

  &__btn {
    @include large-mobile {
      width: 100%;
      margin-top: .8rem;
    }
  }
}